<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini PaaS</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="card">

    <h1>Mini PaaS</h1>

    <div class="field">
        <label>URL</label>
        <input
            id="url"
            type="text"
            placeholder="Your git repository"
        >
    </div>

    <div class="field">
        <button id="folderButton">
            📁 Choose Folder
        </button>

        <div class="selected-folder" id="folderName">
            No folder selected
        </div>
    </div>

</div>

<script src="/static/js/script.js"></script>

</body>
</html>