<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini PaaS</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="card">

    <h1>Mini PaaS</h1>

    <div class="field">
        <label>Repository URL</label>

        <input
            id="url"
            type="text"
            placeholder="Git repository with Dockerfile"
        >
    </div>


    <div class="field">
        <label>Project folder</label>

        <input
            id="folder"
            type="text"
            placeholder="Folder name"
        >
    </div>


    <div class="field">

        <button id="cloneButton">
            Deploy
        </button>

    </div>


    <div id="status">
    </div>


</div>


<script src="/static/js/script.js"></script>

</body>
</html>